<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="sumo_robot">

    <!-- Include the physical robot structure -->
    <xacro:include filename="robot_core.xacro" />

    <!-- Include Gazebo plugins (Diff drive, camera, lidar) -->
    <xacro:include filename="gazebo_plugins.xacro" />

</robot>