<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- ========================================== -->
  <!-- WHEELS MACRO                               -->
  <!-- ========================================== -->
  
  <xacro:macro name="wheel_properties" params="wx_m wy_m wz_m rot">
    <collision>
      <origin xyz="${(wx_m + wy_m) * rot_45} ${(-wx_m + wy_m) * rot_45} ${wz_m}" rpy="0 1.5708 0"/>
      <geometry><cylinder radius="0.038" length="0.03"/></geometry>
      <!-- <geometry><mesh filename="package://sumo_description/meshes_fixed/Wheel.stl"/></geometry> -->
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.12331"/>
      <inertia 
          ixx="0.000055477" 
          ixy="-0.000000002" 
          ixz="0.000000120" 
          iyy="0.000055009" 
          iyz="-0.000000145" 
          izz="0.000080222"/>
    </inertial>
  </xacro:macro>

  <link name="wheel_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 -${rot_angle + 1.5708}"/>
      <geometry><mesh filename="package://sumo_description/meshes_fixed/Wheel.stl"/></geometry>
      <material name="black"/>
    </visual>
    <xacro:wheel_properties wx_m="0" wy_m="0" wz_m="0" rot="${2*rot_angle + 1.5708}"/>
  </link>
  <joint name="wheel_joint" type="continuous">
    <parent link="coupler_link"/>
    <child link="wheel_link"/>
    <origin xyz="${c0_m_x - w0_m_x} ${c0_m_y - w0_m_y} ${c0_m_z - w0_m_z}" rpy="0 0 ${rot_angle + 1.5708 + 3.14159}"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="0.01" friction="0.01"/>
  </joint>

  <!-- Wheel 1 -->
  <link name="wheel1_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 -${rot_angle+1.5708}"/>
      <geometry><mesh filename="package://sumo_description/meshes_fixed/Wheel1.stl"/></geometry>
      <material name="black"/>
    </visual>
    <xacro:wheel_properties wx_m="0" wy_m="0" wz_m="0" rot="${2*rot_angle+1.5708}"/>
  </link>
  <joint name="wheel1_joint" type="continuous">
    <parent link="coupler1_link"/>
    <child link="wheel1_link"/>
    <origin xyz="${c1_m_x - w1_m_x} ${c1_m_y - w1_m_y} ${c1_m_z - w1_m_z}" rpy="0 0 ${rot_angle+1.5708 + 3.14159}"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="0.01" friction="0.01"/>
  </joint>

  <!-- Wheel 2 (Original Working Axis X) -->
  <link name="wheel2_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 -${rot_angle}"/>
      <geometry><mesh filename="package://sumo_description/meshes_fixed/Wheel2.stl"/></geometry>
      <material name="black"/>
    </visual>
    <xacro:wheel_properties wx_m="0" wy_m="0" wz_m="0" rot="${2*rot_angle+1.5708}"/>
  </link>
  <joint name="wheel2_joint" type="continuous">
    <parent link="coupler2_link"/>
    <child link="wheel2_link"/>
    <origin xyz="${c2_m_x - w2_m_x} ${c2_m_y - w2_m_y} ${c2_m_z - w2_m_z}" rpy="0 0 ${rot_angle}"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="0.01" friction="0.01"/>
  </joint>

  <!-- Wheel 3 (Original Working Axis X) -->
  <link name="wheel3_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 -${rot_angle}"/>
      <geometry><mesh filename="package://sumo_description/meshes_fixed/Wheel3.stl"/></geometry>
      <material name="black"/>
    </visual>
    <xacro:wheel_properties wx_m="0" wy_m="0" wz_m="0" rot="${2*rot_angle+1.5708}"/>
  </link>
  <joint name="wheel3_joint" type="continuous">
    <parent link="coupler3_link"/>
    <child link="wheel3_link"/>
    <origin xyz="${c3_m_x - w3_m_x} ${c3_m_y - w3_m_y} ${c3_m_z - w3_m_z}" rpy="0 0 ${rot_angle}"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="0.01" friction="0.01"/>
  </joint>

  <gazebo reference="wheel_link">
    <mu1>1.0</mu1>
    <mu2>0.01</mu2>
    <fdir1>0 1 0</fdir1>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.1</maxVel>
  </gazebo>
  
  <gazebo reference="wheel1_link">
    <mu1>1.0</mu1>
    <mu2>0.01</mu2>
    <fdir1>0 1 0</fdir1>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.1</maxVel>
  </gazebo>
  
  <gazebo reference="wheel2_link">
    <mu1>1.0</mu1>
    <mu2>0.01</mu2>
    <fdir1>0 1 0</fdir1>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.1</maxVel>
  </gazebo>
  
  <gazebo reference="wheel3_link">
    <mu1>1.0</mu1>
    <mu2>0.01</mu2>
    <fdir1>0 1 0</fdir1>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.1</maxVel>
  </gazebo>

</robot>